/*
    DEMO STYLE
*/



body {
    font-family: 'Lato', sans-serif;
    background: #ffffff;
}

h1{
  font-family: 'Signika Negative', sans-serif;
}
h4{
  font-family: 'Signika Negative', sans-serif;
  background-color:#555555;
  font-size:1.1em;
  color:#fff;
  padding:0.4em;
  margin-top:1em;
  width:95%;
  border-radius: 3px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 450px;
    max-width: 450px;
    overflow-x: hidden;
    color: #111;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -450px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#sidebar a {
  text-decoration: none;
  color: #313131;
  display: block;
  transition: 0.3s;
}

#sidebar a:hover {
  color: #212121;
  text-decoration: underline;
}


.legend-div{
  background-color:red;
  width:25%;height:1.2em;
  display:inline-block;
  text-align:right;
  font-size:0.7em;
  vertical-align:middle;
  color:#fff;
  padding-right:0.1em;
}
.legend-group{
   width:100%;
   height:1.2em
}

#sidebarClose-col{
  text-align:center;
  display: none;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
    position: absolute;
    left:475px;
    top:10px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

#sidebarCollapse.active {
    left:25px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;

}




#map {
  width:100%;
  height:100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

    #content{
      transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    }
    #content.inactive{
      width:0%;
    }
    #sidebar {
        width:450px;
        max-width: 100%;
        min-width: 0%;
        margin-left:-450px;
        display:none;
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    }
    #sidebar.active {
        margin-left: 0;
        display:block;
        width:100%;

    }

    #sidebarCollapse {
        width: 40px;
        height: 40px;
        background: #f5f5f5;
        cursor: pointer;
        position: absolute;
        left:25px;
        top:25px;
        transition: all 0.05s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    }

    #sidebarCollapse.active {
        opacity:0;
        left:25px;
        top:25px;
    }

    #sidebarClose-col{
      text-align:center;
      display: block;
    }
}
